body {
    padding: 20px;
    font-family: Roboto, sans-serif;
}

form {
    padding: 10px 20px;
    box-shadow: 0 0 2px 2px rgba(#414141, 0.3);
}

.results {
    margin-top: 40px;
li {
    display: flex;
    margin-bottom: 10px;
&::before {
     display: inline-block;
     content: "\2014";
     margin-right: 4px;
 }
}
.success {
    color: #4caf50;
}
.error {
    color: #f44336;
}
}