table {
	border-collapse: collapse;
	font-family: sans-serif;
	width: 700px;
}
 th {
    padding: 20px; /* Поля вокруг содержимого таблицы */
    border-bottom: 1px solid grey; /* Линия снизу */
    text-align: center;

}
 td {
    padding: 20px; /* Поля вокруг содержимого таблицы */
    border: 1px solid white; /* Параметры рамки */
    text-align: center;
}


