.main-block {
background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
background-position: top left;
width: 300px;
height: 300px;
border: 1px solid black;
position: relative;
}
.door, .window, .house, .chimney, .roof {
position: absolute;
}
.house {
width: 150px;
height: 150px;
background: coral;
bottom: 0;
left: 75px;
}
.roof {
width: 0;
height: 0;
border-left: 110px solid transparent;
border-right: 110px solid transparent;
border-bottom: 100px solid red;
bottom: 150px;
left: 40px;
}
.chimney {
width: 20px;
height: 60px;
background: black;
bottom: 200px;
left: 95px;
}
.door {
width: 60px;
height: 90px;
background: brown;
bottom: 0;
left: 155px;
z-index: 1;
}
.window {
width: 40px;
height: 40px;
background: cyan;
bottom: 35px;
left: 95px;
z-index: 1;
}