* {
    font-family: sans-serif;
    font-size: 20px;
    margin: 5px;
}
fieldset {
    margin: 30px 0 0 30px;
    width: 300px;
    box-shadow: 10px 11px 18px 0px grey;

}
#add {
    width: 35px;
    border: 2px solid red;
    border-radius: 5px;
    background: #ffc8b2;
}
.del {
    border: 2px solid blue;
    width: 35px;
    border-radius: 5px;
    margin-left: 10px;
    background: #afe2ed;
}
label {
    font-size: 16px;
}
.form1 span {
    font-size: 14px;
    color: red;
}