* {
    font-family: sans-serif;
    font-size: 20px;
    margin: 5px;
}
fieldset {
    margin: 30px auto;
    width: 600px;
    box-shadow: 10px 11px 18px 0px grey;

}
#add {
    width: 35px;
    border: 2px solid red;
    border-radius: 5px;
    background: #ffc8b2;
}
.del {
    border: 2px solid blue;
    width: 35px;
    border-radius: 5px;
    margin-left: 10px;
    background: #afe2ed;
}
label {
    font-size: 16px;
}
.form1 span {
    font-size: 14px;
    color: red;
}
/*.error:after {*/
    /*content: 'abc';*/
/*}*/
#popup {
    margin: 30px;
    padding: 10px;
    box-shadow: 10px 11px 18px 0px grey;

}
.switch {
    background: red;
}
.img {
    margin: 0 0 30px 30px;
    height: 300px;
    width: 280px;
    overflow: hidden;
    position: relative;
}
#minyon {
    height: 300px;
    width: 280px;
}
#text-block {
    height: 300px;
    width: 280px;
    color: white;
    background: #000;
    position: absolute;
    top: 0;
    left: 280px;
    opacity: 0.4;
}
.cars {
    margin-bottom: 15px;
}
.cars:hover {
    box-shadow: 5px 6px 13px 0px grey;
}
a {
    margin-right: 20px;
}
.info {
    display: block;
    padding: 20px;
    font-size: 16px;
    background: gold;
    border: 1px solid black;
    width: 800px;
    position: absolute;
    right: 100px;
    overflow-wrap: break-word;

}
.footer {
    margin: 0;
    padding: 30px;
    height: 50px;
    background: lightgrey;
    text-align: center;
}
