<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Module 11(Rest)</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <h2 class="header">Работа с REST API</h2>
        <div class="frame users">
            <button id="user">Получить список всех пользователей</button><br>
            <div class="list-users">
                <table id="table-container">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>score</th>
                        </tr>
                    </thead>
                    <tbody id="js-tbody"></tbody>
                </table>
            </div>
        </div>
        <div class="frame add">
            <input type="text" name="" id="add-name" placeholder="введите имя">
            <input type="text" name="" id="add-score" placeholder="введите очки"><br>
            <button id="add-user">Добавить пользователя</button>
        </div>
        <div class="frame remove">
            <input type="text" name="" id="remove-id" placeholder="введите id"><br>
            <button id="remove">Удалить пользователя</button>
        </div>
        <div class="frame refresh">
            <input type="text" name="" id="refresh-id" placeholder="введите id">
            <input type="text" name="" id="refresh-name" placeholder="введите имя">
            <input type="text" name="" id="refresh-score" placeholder="введите очки"><br>
            <button id="refresh">Обновить данные пользователя</button>
        </div>
    </div>

<script type="text/template" id="table">
    <tr>
        <td><%- id %></td>
        <td><%- name %></td>
        <td><%- score %></td>
    </tr>
</script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script src="script.js"></script>
</body>
</html>