.form {
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
    width: 300px;
    background: lightgrey;
    box-shadow: 9px 10px 20px 0px #90bfbf;
}
.form>* {
    margin: 5px;
}
img {
    display: block;
    margin: 0 auto;
}

