* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.form {
    margin: 200px auto;
    padding: 5px;
    border: 1px solid black;
    width: 300px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.form-item {
    margin: 3px;
}
select {
    width: 200px;
}
.data:nth-child(even){
    background: #e4e4e4;
}
.data {
    padding: 3px;
}

