$activeColor: #27ae60; //green
$darkenColor: darken($activeColor, 20%);
$background: #3498db;

.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
&:after {
     content: 'OFF';
     color: #000;
     position: absolute;
     right: 10px;
     z-index: 0;
     font: 12px/26px Arial, sans-serif;
     font-weight: bold;
     text-shadow: 1px 1px 0px rgba(255,255,255,.15);
 }
&:before {
     content: 'ON';
     color: $activeColor;
     position: absolute;
     left: 10px;
     z-index: 0;
     font: 12px/26px Arial, sans-serif;
     font-weight: bold;
 }
label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
input[type=checkbox] {
    visibility: hidden;
&:checked + label {
     left: 43px;
 }
}
span {
    position: absolute;
    top: -2px;
    right: 100px;
    color: $activeColor;
    font: 26px Arial, sans-serif;
    font-weight: bold;
}
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}button,input,select,textarea{font-family:inherit;font-size:100%}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:""}table{border-collapse:collapse;border-spacing:0}body,button,input,textarea{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}button,input[type=button],input[type=submit]{border:none;outline:none;cursor:pointer}html{box-sizing:border-box}*,:after,:before{box-sizing:inherit}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}embed,img,object,video{display:block;height:auto;width:100%}.page{background-color:#fff;font-family:Roboto,-apple-system,BlinkMacSystemFont,sans-serif}.container{display:-webkit-box;display:-ms-flexbox;display:flex;width:80rem;margin:auto;padding:2rem 0;min-height:100vh}.panel{-ms-flex-item-align:start;align-self:flex-start;width:15%;padding:1rem .5rem;border-radius:.25rem;box-shadow:0 0 5px 5px rgba(0,0,0,.1)}.main{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:70%;padding:0 1.5rem}.clock{text-align:center}.clock__time{font-size:2rem}.keyboard{margin-top:3rem}.keyboard__row{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:.25rem}.keyboard__btn{display:block;outline:0;padding:0;width:3.75rem;height:3.75rem;margin-right:.5rem;border:1px solid #bdbdbd;border-radius:.125rem;background-color:transparent;font-size:1.3rem;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#424242;cursor:default}.keyboard__btn:last-child{margin-right:0}.keyboard__btn--space{width:20rem}.keyboard__btn--active{border:1px solid transparent;background-color:#03a9f4;color:#fff}.lang-ctrls__body{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.lang-ctrls__btn{padding:0;outline:0;width:3.25rem;height:3.25rem;border-radius:.25rem;font-size:1.125rem;color:#fff;text-transform:uppercase;background-color:#616161}.lang-ctrls__btn--active{background-color:#03a9f4}.typable{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default}.typable,.typable__char{display:-webkit-box;display:-ms-flexbox;display:flex}.typable__char{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:4rem;height:4rem;margin-right:1rem;border:1px solid #616161;border-radius:.25rem;color:#424242;font-size:3rem}.typable__char:last-child{margin-right:0}.typable__char--current{position:relative}.typable__char--current:before{position:absolute;display:block;width:100%;height:.5rem;left:0;bottom:-1rem;border-radius:.25rem;content:"";background-color:#03a9f4}.typable__char--error{background-color:#ef5350}.typable__char--success{background-color:#43a047}.user-list{counter-reset:a}.user-list__item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:.5rem .25rem;color:#424242;border-bottom:1px solid #bdbdbd}.user-list__item:last-child{border-bottom:0}.user-list__item:before{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:1.5rem;width:1.5rem;border-radius:50%;counter-increment:a;content:counter(a);background-color:#616161;color:#fff}.user-list__score{font-weight:700}.widget{color:color(primary-dark)}.widget__heading{font-size:1em;margin-bottom:1rem;text-align:center}.widget-divider{border-top:1px solid #bdbdbd;padding-top:1.5rem;margin-top:1.5rem}
.pressed {
    margin: auto;
    font-size: 32px;
    height: 60px;
    line-height: 60px;
    width: 400px;
    cursor: pointer;
    background: #424242;
    color: #eee;
    display: flex;
    justify-content: space-around;
}
.keyboard {
    background: hsla(100, 50%, 50%, 0.1);
}