*{
    font-family: sans-serif;
}
.container {
    margin: 100px auto;
    padding: 20px;
    width: 400px;
    border: 1px solid black;
    background: #e4e4e4;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.container>*{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}
button {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 14px;
}
.out {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    background: #fff;
    font-size: 26px;
}
input {
    display: block;
}
