* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.post-main a {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.post-main img {
    width: 350px;
    display: block;
}
