* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.post-main a {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.post-main img, .post-single img  {
    width: 350px;
    display: block;
}
.post-single {
    margin: 0 auto;
}
.admin {
    margin: 50px auto;
    width: 400px;
    border: 1px solid grey;
    box-shadow: 8px 7px 13px grey;
    padding: 10px;
}
.admin>* {
    margin: 10px;
}