body {
    margin: 0;
    font-family: sans-serif;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    transform: translate3d(0,0,0);
    padding: 10px 16px;
    background: #ff4683;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: inherit;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}