body {
	background: blue;  
}

h2 {
	color: white;
	background-color: red;
	display: block;
	width: 100px;
}

.blue {
	background-color: #4600FF;
	width: 300px;
	padding: 0px 0px 30px 0px;
}

.yellow {
	background-color: yellow;
	width: 300px;
	padding: 0px 0px 25px 0px;
}

.one {
	width: 52px;
	height: 43px;	
	background-color: red;
}

.two {
	width: 100px;
	height: 43px;	
	background-color: orange;
}

.three {
	width: 150px;
	height: 43px;	
	background-color: #4600FF;
}

.registr {
	font-size: 50px;	
	background-color: #FF733A;
	width: 270px;
	padding: 20px 15px 30px 20px;	
}