html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  min-height: 100vh;
  //background-color: #ffffff;
  background-image: url('./images/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  text-align: center;
  color: gold;
  margin: 30px;
}
